body, div, h1, button, p {
    font-family: 'ghanachoco';
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main{
    width: inherit;
    height: inherit;
    background: url(./images/background.jpeg);
    background-size: cover;
}


#button{
    background: url(./images/button.png) top left no-repeat;
    width: 453px;
    height: 230px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
}

#progress{
    width: 453px;
    height: 96px;
    overflow: hidden;
    position: absolute;
    top: 250px;
    display: none;
    background: url(./images/progress.png) top left no-repeat;
}

#bar > p{
    font-family: 'DungGeunMo';
    font-weight: bolder;
    font-size: 17px;
    padding-bottom: 23px;
}

#progress #line{
    /* 0~350px */
    position: absolute;
    top: 54px;
    left: 53px;
    width: 0px;
    height: 10px;
    background-color: rgba(0, 255, 255, 0.404);
}

#result{
    display: none;
    flex-direction: column;
    position: absolute;
    text-align: center;
    background-color: #fffcf9;
    border: rgb(136, 136, 136) 6px solid;
    border-radius: 30px;
    box-shadow: #555 5px 5px 25px;
    padding: 10px 100px;
}

#result > p{
    font-size: 20px;
}

#result #retry{
    background-color: #4cafaa; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.whoamI{
    position: absolute;
    top: 95%;
}

.whoamI > a > img, .origin > a > img{
    height: 30px;
}

.origin{
    position: absolute;
    top: 2%; left: 1%;
}